.nav-item{
	font-size: 25px;
    padding-bottom: 10%;
}

.container_body {
	text-align: center;
}


.photoslider {
    margin: 0 auto;
    background-image: url(/img/under-construction.png);
    width: 100%;
    height: 545px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 11.5%;
}

.prgrph {
    padding: 5%;
	font-size: 14px;
}

.crutch{
	margin-bottom: 18%;
}

footer {
	padding: 1%;
    flex: 0 0 auto;
    width: 100%;
    height: 53px;
    background-color: #696969;
    text-align: center;
}